# Build and testing
.vscode/**
.vscode-test/**
out/test/**
src/**
mocked_data/**
**/*.map
**/*.ts
.dccache
.github/**
scripts/**

# Configuration
.gitignore
tsconfig.json
.eslintrc.json
.prettierrc.js
.editorconfig
.itlyrc
snyk.config.local.json

# Documentation
README.preview.md
development.md

# Snyk CLI
snyk-macos
snyk-linux
snyk-win.exe

