# Build and testing
.vscode/**
.vscode-test/**
out/test/**
src/**
mocked_data/**
**/*.map
**/*.ts
**/*.scss
.dccache
.github/**
scripts/**

# Configuration
.gitignore
tsconfig.json
.eslintrc.json
.prettierrc.js
.editorconfig
.itlyrc
snyk.config.local.json

# Documentation
README.preview.md
development.md

# Snyk CLI
snyk-macos
snyk-linux
snyk-win.exe

# Snyk LS
linux_386
linux_amd64
linux_arm64
windows_386.exe
windows_amd64.exe
darwin_amd64
darwin_arm64
