@import '../../common/webview';

:root {
  font-size: var(--vscode-editor-font-size);
}

.vscode-dark .light-only {
  display: none;
}

.vscode-light .dark-only {
  display: none;
}
body {
  font-size: var(--vscode-editor-font-size);
}

h2 {
  font-size: 1.2rem;
}

/* High-contrast dark mode */
.vscode-high-contrast:not(.vscode-high-contrast-light) .vulnerability-overview code {
  color: var(--vscode-editor-background);
}

/* High-contrast light mode */
.vscode-high-contrast.vscode-high-contrast-light .vulnerability-overview code {
  color: var(--vscode-editor-background);
}
