@import '../../common/variables';
@import '../../common/webview';

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row.between {
  justify-content: space-between;
}

.row.center {
  justify-content: center;
}

.icon {
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.suggestion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
}

.suggestion-title {
  padding: 0.4rem 0;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.suggestion-text {
  line-height: 1.6;
}

.suggestion-details {
  height: auto;
  transition: height 400ms ease-out;
}

.suggestion-details.collapsed {
  height: 90px;
  overflow: hidden;
}

.suggestion-details.collapsed p:first-of-type {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.suggestion-details.collapsed:after {
  content: '...';
  float: right;
  background: linear-gradient(to left, transparent, white 50%);
}

.suggestion-details.show {
  max-height: none;
}

.no-padding-top {
  padding-top: 0;
}

.read-more-btn {
  background: none;
  border: 2px solid var(--vscode-textLink-foreground);
  color: var(--vscode-textLink-foreground);
  cursor: pointer;
}

.cwe-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.suggestion-metas {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  font-size: 1.3rem;
  line-height: 2rem;
}

/* Style each meta element */
.suggestion-meta {
  position: relative;
  align-items: center;
}

.suggestion-meta:not(:first-child)::before {
  content: '|';
  color: var(--vscode-input-border);
  position: absolute;
  left: -10px;
}

.suggestion-meta {
  border-right: none;
}

.suggestion-meta:first-child {
  padding-left: 0
}

.suggestion--header {
  background-image: linear-gradient(0, --vscode-tab-activeBackground, transparent);
}

.mark-position {
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
}

.mark-message {
  font-weight: 600;
}

#severity {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  float: left;
  margin: 0 1rem 0 0;
  text-align: center;
}

#severity .icon {
  width: 32px;
  height: 32px;
  color: var(--vscode-icon-foreground);
}

.vscode-dark .light-only {
  display: none;
}

.vscode-light .dark-only {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

#info-top {
  margin-bottom: 8px;
}

#example-top {
  margin-bottom: 16px;
}

.repo {
  display: flex;
  gap: 8px;
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  line-height: 1;
}

.arrow:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}

.examples-nav {
  display: flex;
  gap: 4px;
}

#example-text {
  width: 86px;
  text-align: center;
}

#example {
  width: 100%;
  border: 1px solid var(--vscode-input-border);
  border-radius: 3px;
  line-height: 1.5;
  background-color: var(--vscode-editor-background);
}

.example-line.removed {
  background-color: rgb(255, 215, 213);
}

.example-line.removed::before {
  content: "-";
  position: absolute;
  padding: 0 4px;
  line-height: 1;
}

.example-line.added {
  background-color: rgb(204, 255, 216);
}

.example-line.added::before {
  content: "+";
  position: absolute;
  padding: 0 4px;
  line-height: 1;
}

.example-line>code {
  display: block;
  padding-left: 30px;
  white-space: pre-wrap;
  color: var(--vscode-editor-foreground);
  font-weight: 400;
}

.vscode-dark .removed {
  background-color: rgba(84, 36, 38, 1);
  color: #fff;
}

.vscode-dark .added {
  background-color: rgba(28, 68, 40, 1);
  color: #fff;
}


.vscode-dark .added>code {
  color: #fff;
}

.vscode-dark .removed>code {
  color: #fff;
}

.suggestion-links {
  display: flex;
  width: 100%;
  line-height: 1;
}

#lead-url {
  margin-left: auto;
}

.actions {
  justify-content: space-between;
  display: flex;
}

.actions .button {
  margin: 0 0 2rem;
  flex: 0 0 30%;
  border-radius: 3px;
}

.report-fp-actions {
  margin-left: auto;
}
