@import '../../common/webview';

body {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

.severity-title {
    font-weight: 500;
    line-height: 2.4rem;
    text-transform: capitalize;
}

.data-flow-clickable-row {
    color: var(--vscode-textLink-foreground);
}

.tab-item {
    color: var(--vscode-panelTitle-inactiveForeground);
    border-bottom: 1px solid transparent;
}

.tab-item-icon path {
    fill: var(--vscode-foreground);
}

.tab-item.is-selected {
    color: var(--vscode-foreground);
    border-bottom: 3px solid var(--vscode-focusBorder);
}

.ignore-details-header,
.data-flow-header,
.ai-fix-header,
.example-fixes-header {
  text-transform: uppercase;
}

.data-flow-number{
  background-color: var(--vscode-editor-background);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.075));
}

.data-flow-text {
  font-family: "Courier New", Courier, monospace;
}

.example-line > code {
  font-family: "Courier New", Courier, monospace;
}

.example-line.added {
    background-color: rgb(204, 255, 216);
}

.example-line.removed {
    background-color: rgb(255, 215, 213);
}

.vscode-dark .example-line.removed {
    background-color: rgba(84, 36, 38, 1);
    color: #fff;
}

.vscode-dark .example-line.added {
    background-color: rgba(28, 68, 40, 1);
    color: #fff;
}

.vscode-dark .example-line.added>code {
    color: #fff;
    background-color: transparent;
}

.vscode-dark .example-line.removed>code {
    color: #fff;
    background-color: transparent;
}

.vscode-high-contrast:not(.vscode-high-contrast-light) .example-line.removed {
    background-color: #542426;
    color: #fff;
}

.vscode-dark .added,
.vscode-high-contrast:not(.vscode-high-contrast-light) .example-line.added {
    background-color: #1C4428;
    color: #fff;
}


.vscode-dark .light-only,
.vscode-high-contrast:not(.vscode-high-contrast-light) .light-only {
  display: none;
}

.vscode-light .dark-only,
.vscode-high-contrast.vscode-high-contrast-light .dark-only {
  display: none;
}
