@charset "UTF-8";
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: auto;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

body * {
  box-sizing: border-box;
}

h2 {
  font-size: 1em;
  margin-block-start: 0;
}

.font-light {
  opacity: 0.75;
}

.font-blue {
  color: #7754db;
}

.font-red {
  color: #fc3838;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row.between {
  justify-content: space-between;
}

.row.center {
  justify-content: center;
}

.vscode-light {
  background-color: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.vscode-dark {
  background-color: rgba(255, 255, 255, 0.075);
  border-right: 1px solid rgba(255, 255, 255, 0.075);
}

.vscode-light .delimiter-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.vscode-dark .delimiter-top {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
}

.icon {
  display: inline-flex;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

section {
  padding: 20px;
}

.suggestion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#suggestion-info {
  padding-left: 12rem;
}

.suggestion-text {
  float: left;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.suggestion-text.critical .mark-position {
  color: #ce5019;
}

.suggestion-text.warning .mark-position {
  color: #d68000;
}

.suggestion-text.info .mark-position {
  color: #88879e;
}

.suggestion-text.critical .mark-message:hover {
  color: #ce5019;
}

.suggestion-text.warning .mark-message:hover {
  color: #d68000;
}

.suggestion-text.info .mark-message:hover {
  color: #88879e;
}

.mark-message {
  font-weight: bold;
}

#severity {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  float: left;
  width: 80px;
  margin: 1rem 0 0 -10rem;
  text-align: center;
}

#severity .icon {
  width: 32px;
  height: 32px;
  margin: 0 auto 10px;
}

.vscode-dark .light-only {
  display: none;
}

.vscode-light .dark-only {
  display: none;
}

.hidden {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

.chip {
  opacity: 0.75;
  display: inline-flex;
  padding: 2px 8px;
  border-radius: 15px;
  margin: 3px;
  background-color: rgba(150, 150, 150, 0.15);
  text-transform: capitalize;
}

#info-top {
  margin-bottom: 8px;
}

#example-top {
  margin-bottom: 16px;
}

.arrow {
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
}

.arrow.enabled {
  fill: #7754db;
  color: #7754db;
}

.arrow:hover {
  fill: #7754db;
  color: #7754db;
}

.arrow.left {
  transform: rotate(90deg);
}

.arrow.right {
  transform: rotate(-90deg);
}

.arrow.down {
  transform: rotate(-180deg);
}

#example {
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: 600;
}

.vscode-light #example {
  border-color: rgba(0, 0, 0, 0.15);
}

.example-line.removed {
  background-color: #ffeef0;
}

.example-line.removed > code {
  font-weight: 600;
}

.example-line.added {
  background-color: #e6ffed;
}

.example-line.added > code {
  font-weight: 600;
}

.example-line > code {
  padding-left: 30px;
  white-space: pre-wrap;
  color: #231f20;
  font-weight: 400;
}

.vscode-dark #example {
  border-color: rgba(255, 255, 255, 0.075);
  background-color: rgba(0, 0, 0, 0.15);
}

.vscode-dark .removed {
  background-color: rgba(201, 60, 55, 0.2);
  color: #fff;
}

.vscode-dark .added {
  background-color: rgba(70, 149, 74, 0.2);
  color: #fff;
}

.vscode-dark .example-line > code {
  color: #ccc;
  font-weight: 400;
}

.vscode-dark .added > code {
  color: #fff;
}

.vscode-dark .removed > code {
  color: #fff;
}

.suggestion-links {
  display: flex;
  width: 100%;
  line-height: 1;
}

#lead-url {
  margin-left: auto;
}

.actions {
  justify-content: space-between;
  display: flex;
}

.actions .button {
  margin: 0 1rem 2rem;
  flex: 0 0 30%;
}

/* Report false positives */
.report-fp-actions {
  margin-left: auto;
}

.report-fp-panel {
  position: fixed;
  bottom: 0;
  margin: 0 calc(var(--container-paddding) * -1);
  padding: 2rem;
  width: 100%;
  height: 0px;
  border: 1px solid #404040;
  border-radius: 0.3em;
  background-color: #404040;
  height: 215px;
  transition: height 0.45s;
}
.report-fp-panel .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.report-fp-panel .header .close {
  color: #c9c9cf;
}
.report-fp-panel .header .close::before {
  content: "x";
  cursor: pointer;
}
.report-fp-panel.visibility-hidden {
  visibility: hidden;
  height: 0 !important;
}
.report-fp-panel .success-checkmark, .report-fp-panel .third-step-checkmark, .report-fp-panel .second-step-checkmark {
  position: relative;
}
.report-fp-panel .success-checkmark:after, .report-fp-panel .third-step-checkmark:after, .report-fp-panel .second-step-checkmark:after {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #7c74f2;
  background: transparent;
  border-radius: 50%;
  color: #7c74f2;
}
.report-fp-panel .second-step-checkmark:after {
  content: "2";
  background: #fff;
  color: #000;
  border: 1px solid #c9c9cf;
}
.report-fp-panel .third-step-checkmark:after {
  content: "3";
  color: #c9c9cf;
  border: 1px solid #c9c9cf;
}
.report-fp-panel .label {
  margin: 0 0 1em 2.5em;
}
.report-fp-panel .label .detail {
  color: #dcba94;
}
.report-fp-panel .actions {
  flex-direction: row-reverse;
}
.report-fp-panel .actions .button {
  flex: 0 0 15%;
  margin: 0;
}
