name: CI
on:
  pull_request:
  workflow_call:
    inputs:
      ensure_stable_cli:
        description: 'Set to true to enforce stable CLI release check'
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    steps:
      - name: Fetch sources
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Run unit tests
        run: npm run test:unit

      - name: Run integration tests
        run: |
          sudo apt-get install xvfb
          xvfb-run --auto-servernum npm run test:integration
        if: runner.os == 'Linux'
        env:
          ENSURE_STABLE_CLI: ${{ inputs.ensure_stable_cli && '1' || '0' }}
      - name: Run integration tests
        run: npm run test:integration
        if: runner.os != 'Linux'
        env:
          ENSURE_STABLE_CLI: ${{ inputs.ensure_stable_cli && '1' || '0' }}


